<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TABERNACLE OF PSALMS</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
		<link rel="manifest" href="/static/favicon_io/site.webmanifest">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<style rel="stylesheet" href="/static/style3.css"></style>
		<script src="/static/script3.js"></script>
        <style>
        
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

*{
	
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin: auto; */
}
header a{
	padding: 24px;
	padding-top: 2px;
}
h1,h2{
	text-align: center;
	text-decoration: underline;
	font-size: 2rem;
	color: #333;
}
.table1, .table2{
	margin: 2px;
	padding: 24px;	
}
.table{
	width: 100%;
	border-collapse: collapse;
}
.table th, .table td{
	padding: 12px 5px;
	border: 1px solid #ddd;
	text-align: center;
	/* font-size: 18px; */
}
.table td{
	font-size: 12px;
}
.table th{
	background-color: #333;
	color: #ffffff;
	font-size: 14px;
	font-weight: 200;
}
.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

@media (max-width: 830px) {
.table thead{
	display: none;
}
.table, .table tbody, .table tr, .table td{
	display: block;
	width: 100%;
}
.table tr{
	margin-bottom: 15px;
}
.table td{
	text-align: left;
	position: relative;
}
.table td::before{
	content: attr(data-label);
	width: 100%;
	text-align: left;
	font-weight: bold;
}
}
@media (max-width: 500px) {
.table td{
	font-size: 11px;
}
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
}
.button button{
	height: 40px;
	width: 150px;
	margin: 0 4px;
	outline: none;
	border: 2px #aaa solid;
	border-radius: 10px;
	background-color: transparent;
	font-weight: 700;
	transition: all 0.4s ease;
	font-size: 12px;
	cursor: pointer;
}
.button button:hover{
	background-color: rgb(186, 184, 184);
	border: none;
	color: #fff;
}
        </style>
		<script type="text/javascript">
			function printSection(el){
				var getFullContent = document.body.innerHTML;
				var printsection = document.getElementById(el).innerHTML;
				document.body.innerHTML = printsection;
				window.print();
				document.body.innerHTML = getFullContent;
			}
		</script>
	</head>
	<body>
		<header>
			<a href="/Admin">Home</a>
		</header>
		<main>
			<h1>Tabernacle of Psalms</h1>
		<div class="table1">
			<table class="table">
				<tr>
					<thead>
						<th>Name</th>
						<th>MATRIC NO/REG NO</th>
                        <th>Suggestion</th>
					</thead>
				</tr>
				<% suggestion.forEach(element=> { %>
					<tbody>
						<tr>
							<td data-label="Name: ">
								<%= element.name %>
							</td>
							<td data-label="MatricNo: ">
								<%= element.regno %>
							</td>
							<td data-label="Suggestion: ">
								<%= element.suggestion %>
							</td>
						</tr>
					</tbody>
					<% }) %>
			</table>
			<div class="button">
				<button onclick="window.print()">Print this page</button>
			</div>
		</div>
		</main>
	</body>
</html>
