@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
    /* color: #fff; */
}
:root{
    --main-color: #6b2737;
    --color-dark: #1d2231;
    --text-grey: #8390A2;
}
.sidebar{
    position: fixed;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    padding: 12px 1px 12px 12px;
    z-index: 100;
    transition: width .7s;
    border-radius: 0 30px 0 0;
}
.menu{
    color: #fff;
    position: absolute;
    left: 20%;
    top: 2%;
    font-size: 2rem;
    cursor: pointer;
}
/* #nav-toggle:checked + .menu{
    left: -100%;
    color: red;
} */
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
}
.sidebar-brand a{
    color: var(--text-grey);
}
.sidebar .sidebar-brand a span:last-child,
.sidebar li a span:last-child{
    display: none;
}
.sidebar-brand span{
    font-size: 16px;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 4rem;
}
/* #nav-toggle:checked+ .sidebar .sidebar-brand #btn{
    color: red;
    position: absolute;
    left: 100%;
} */
#nav-toggle:checked + .sidebar{
    width: 320px;
    border-radius: 0;
}
#nav-toggle:checked + .sidebar .sidebar-brand .menu{
    left: 40%;
}
#nav-toggle:checked + .sidebar .sidebar-menu ul li a{
    display: flex;
    gap: 12px;
}
#nav-toggle:checked + .sidebar .sidebar-brand a span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: flex;
}
#nav-toggle:checked ~ .main-content{
    margin-left: 320px;
}
#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 320px);
    left: 320px;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    font-size: 1rem;
    color: #fff;
}
.sidebar-menu a.active1{
    background: #fff;
    color: var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
    font-size: 1.2rem;
    padding-right: 1rem;
}
/* .sidebar .active{
    width: 200px;
} */

.main-content{
    margin-left: 70px;
    transition: margin-left .7s;
}
.main-content header label i{
    cursor: pointer;
}
header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    z-index: 100;
    transition: left .7s;
}
header label i{
    padding-right: 2rem;
    font-size: 20px;
    margin: auto;
}
/* #nav-toggle{
    display: none;
} */
.search-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    overflow-x: hidden;
    margin-top: 15px;
}
.search-wrapper i{
    padding: 0rem 1rem;
    display: inline;
}
.search-wrapper input{
    border: none;
    outline: none;
    height: 100%;
    padding: .5rem;
}
.user-wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 40px;
}

.user-wrapper i{
    font-size: 40px;
    text-align: center;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}
main{
    margin-top: 90px;
    padding: 2rem 1.5rem;
    background: #f0f0f0;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-left: 50px;
    margin-top: 1rem;
}
.card-single a{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    cursor: pointer;
    color: #000;
    padding: 2.4rem;
    border-radius: 15px;
}
.card-single h3 ,
.card-single i{
    color: var(--text-grey);
}
.recent-grid{
    margin-top: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}
.inside-card{
    background: #fff;
    border-radius: 15px;
}
.inside-header,
.inside-body{
    padding: 1rem;
}
.inside-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
}
.inside-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .6rem;
    border: none;
    outline: none;
}
.inside-header button a{
    text-decoration: none;
    color: #fff;
}

table{
    border-collapse: collapse;
}
thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
thead td{
    font-weight: 700;
}
td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
}
.drive{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drive .inside-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
.drive .inside-card .mission,
.drive .inside-card .vision{
    text-align: center;
    margin-top: 12px;
    

}
/* .drive .inside-card .mission p,
.drive .inside-card .vision p{
    font-size: 14px;
} */

@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid{
        grid-template-columns: 60% 40%;
    }
    .search-wrapper{
        display: none;
    }
    .main-content header h1{
        display: none;
    }
    .user-wrapper{
        gap: 2px;
        margin-left: 70%;
    }
    .recent-grid{
        grid-template-columns: 100%;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin: auto;
    }
}
@media only screen and (max-width: 760px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin: auto;
    }
    .recent-grid{
        grid-template-columns: 100%;
        align-items: center;
        margin: auto;
        margin-top: 30px;
    }
    
}
@media only screen and (max-width: 760px){
    .cards{
        grid-template-columns: 100%;
    }
    
}
@media only screen and (max-width: 680px){
    .search-wrapper{
        display: none;
    }
    .main-content header h1{
        display: none;
    }
    .user-wrapper{
        gap: 2px;
        margin-left: 70%;
    }
    .user-wrapper i{
        font-size: 20px;
    }
    
    
    
}
@media only screen and (max-width: 550px){
    .card-single h3{
        font-size: 16px;
    }
}
@media only screen and (max-width: 480px){
    .user-wrapper{
        gap: 2px;
        margin-left: 50%;
    }
    header{
        gap: 12px;
    }
    .menu{
        left: 20%;

    }
    .card-single h3{
        font-size: 12px;
    }
    .inside-header button{
        padding: .4rem;
        font-size: .6rem;
    }
    .inside-header h4{
        font-size: 12px;
    }
    tr td{
        font-size: 12px;
    }
    .inside-card .mission h4,
    .inside-card .vision h4{
        font-size: 12px;
    }
    .inside-card .mission p,
    .inside-card .vision p{
        font-size: 12px;
    }
    .inside-card .vision{
        margin-top: 17px;
    }
}


/* TEAM LEADER */

